@use '../components/variable' as *;
.blogcontent {
    background: #F8F4F1;
    .m-b-30 {
        margin-bottom: 30px;
    }
    &__image {
        img {
            width: 100%;
        }
    }
    &__text {
        background: #fff;
        padding: 30px;
        .title {
            h3 {
                margin: 0 0 20px 0;
                padding: 0;
                text-transform: uppercase;
                font-family: $FontFamilyBold;
                font-size: 30px;
                color: #4D4D4D;
            }
        }
        .text {
            p {
                @include media('xsmall') {
                    font-size: 18px;
                }
                @include media('small') {
                    font-size: 18px;
                }
            }
        }
        .buttons {
            padding: 0;
            margin: 0 0 20px 0;
            a {
                text-decoration: none;
                color: #C7A17A;
                border: 1px solid #C7A17A;
                border-radius: 3px;
                padding: 3px 12px;
                font-size: 18px;
                margin: 0 10px 0 0;
            }
        }
        .date {
            border-top: 1px solid #C7A17A;
            span {
                font-size: 12px;
                padding: 10px 0 0 0;
                color: #C7A17A;
                display: block;
            }
        }
    }
}

.right-content {
    background: #fff;
    width: 250px;
    min-height: 600px;
    padding: 20px;
    border-radius: 5px;
    @include media('xsmall') {
        display: none;
    }
    @include media('small') {
        display: none;
    }
    @include media('medium') {
        display: none;
    }
    @include media('large') {
        display: none;
    }
    &.details {
        width: 100%;
        background: #F8F4F1;
    }
    &.fixed {
        position: fixed;
        right: 30px;
        top: 290px;
        z-index: 9999;
        transition-duration: 0.04s;
        transition-delay: 0.04s;
        transition-timing-function: ease-in-out;
    }
    &.fixedtop {
        top: 100px;
    }
    &.hide {
        display: none!important;
    }
    h3 {
        color: #C7A17A;
        border-bottom: 1px solid #C7A17A;
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;
        text-transform: uppercase;
        font-family: $FontFamilyBold;
        font-size: 26px;
    }
    .tags {
        margin: 0 0 30px 0;
        overflow: hidden;
        &__list {
            a {
                background: #C7A17A;
                color: #fff;
                text-decoration: none;
                padding: 3px 5px;
                border-radius: 3px;
                float: left;
                margin: 0 5px 5px 0;
                &:hover {
                    background: #c19467;
                }
            }
        }
    }
    .archiv {
        &__list {
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style-type: none;
                    padding-bottom: 10px;
                    a {
                        text-decoration: none;
                        color: #707070;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.blog-details {
    .blogcontent__image {
        margin: 0 0 30px 0;
        img {
            width: auto;
            @include media('xsmall') {
                width: 100%;
            }
            @include media('small') {
                width: 100%;
            }
            @include media('medium') {
                width: 100%;
            }
            @include media('large') {
                width: 100%;
            }
        }
    }
    .blogcontent__text {
        padding: 0;
    }
}

.mobilefilter {
    display: none;
    margin: 15px 0 15px 0;
    @include media('xsmall') {
        display: block;
    }
    @include media('small') {
        display: block;
    }
    @include media('medium') {
        display: block;
    }
    @include media('large') {
        display: block;
    }
    .tags__list {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        margin-bottom: 15px;
        a {
            background: #F8F4F1;
            border: 1px solid #F8F4F1;
            color: #707070;
            font-size: 18px;
            border-radius: 5px;
            padding: 3px 10px;
            margin: 0 10px 0 0;
            text-decoration: none;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .button__content {
        button {
            border: 1px solid #707070;
            background: #fff;
            border-radius: 5px;
            padding: 10px 20px;
            color: #707070;
            font-size: 18px;
        }
    }
    .modal-header {
        border-bottom: none;
        padding: 2rem 2rem 0 2rem;
        .btn-close {
            width: 32px;
            height: 32px;
            background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/2em auto no-repeat;
            outline: none;
            &:focus {
                outline: none;
            }
            &:active {
                outline: none;
            }
        }
    }
    .modal-body {
        .tags__list_modal {
            margin-bottom: 20px;
            overflow: hidden;
            a {
                color: #707070;
                border: 1px solid #707070;
                text-decoration: none;
                padding: 3px 5px;
                font-size: 18px;
                border-radius: 5px;
                display: block;
                margin: 0 10px 10px 0;
                float: left;
                &.active {
                    background: #4D4D4D;
                    color: #ffffff;
                    font-family: $FontFamilyRegular;
                }
            }
        }
        .archiv__list_modal {
            ul {
                padding: 0;
                margin: 0;
                li {
                    margin-bottom: 5px;
                    font-family: $FontFamilyRegular;
                    input[type=checkbox]+label {
                        display: block;
                        margin: 0.2em;
                        cursor: pointer;
                        padding: 0.2em;
                    }
                    input[type=checkbox] {
                        display: none;
                    }
                    input[type=checkbox]+label:before {
                        content: "\2714";
                        border: 1px solid #707070;
                        border-radius: 0.2em;
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        padding-left: 0.2em;
                        padding-bottom: 0.3em;
                        margin-right: 0.2em;
                        vertical-align: bottom;
                        color: transparent;
                        transition: .2s;
                        border-radius: 5px;
                    }
                    input[type=checkbox]+label:active:before {
                        transform: scale(0);
                    }
                    input[type=checkbox]:checked+label:before {
                        background-color: #C7A17A;
                        border-color: #C7A17A;
                        color: #fff;
                    }
                    input[type=checkbox]:disabled+label:before {
                        transform: scale(1);
                        border-color: #aaa;
                    }
                    input[type=checkbox]:checked:disabled+label:before {
                        transform: scale(1);
                        background-color: #bfb;
                        border-color: #bfb;
                    }
                }
            }
        }
    }
}